<div id="main" class="container-fluid">
	<h3 class="page-header">{{tipoTela}} Chamado</h3>
	<form name="frm_chamado" novalidate>
		<div class="form-group col-md-3">
			<label for="nome" class="form-label">N&uacute;mero</label>
			<input type="text" ng-model="chamado.numero" id="numero" name="numero" class="form-control" placeholder="Digite o n&uacute;mero" ng-required="true"/>
			<span class="error_message" ng-show="frm_chamado.numero.$dirty && frm_chamado.numero.$error.required ">N&uacute;mero obrigat&oacute;rio</span>   
		</div>
		
		<div class="form-group col-md-3">
			<label for="dataAbertura" class="form-label">Data</label>
			<input type="text"  date-picker ng-model="chamado.dataAbertura" id="dataAbertura" name="dataAbertura" class="form-control" placeholder="Digite o data de abertura" ng-required="true"/>
			<span class="error_message" ng-show="frm_chamado.dataAbertura.$dirty && frm_chamado.dataAbertura.$error.required ">Data obrigat&oacute;ria</span>   
		</div>

		<div class="form-group col-md-3">
			<label for="horaAbertura" class="form-label">Hora</label> 
			<input type="text" ng-model="chamado.horaAbertura" id="setor" class="form-control" name="horaAbertura" placeholder="Digite o hora" />
		</div>
		
		<div class="form-group col-md-3">
			<label for="tipo" class="form-label">Tipo</label> 
			<select class="form-control" ng-model="chamado.tipo" id="tipo" name="tipo" ng-options="tipo.descricao for tipo in tiposChamado"
				ng-selected="tipo">
				<option value="">Seleciona um tipo</option>
			</select>
		</div>
		<!--  ---------------------------------------------------------------------------   -->
		<div class="form-group col-md-4">
			<label for="hots" class="form-label">Sistema</label> 
			<select class="form-control" ng-model="chamado.sistema" id="sistema" name="sistema"
				ng-options="sistema.descricao for sistema in sistemas" ng-selected="sistema">
				<option value="">Seleciona um sistema</option>
			</select>
			<br>
		</div>
		
		<div class="form-group col-md-4">
			<label for="solicitante" class="form-label">Solicitante</label>
			<select class="form-control" ng-model="chamado.solicitante.id" id="solicitante" name="solicitante">
				<option ng-repeat="solicitante in solicitantes" value="{{solicitante.valor}}">{{solicitante.label}}</option>
			</select> 
		</div>
		
		<div class="form-group col-md-4">
			<label for="assunto" class="form-label">Assunto</label> 
			<input type="text" ng-model="chamado.assunto" id="assunto" class="form-control" name="assunto" placeholder="Digite a assunto" />
		</div>
		<!--  -->
		<div class="form-group col-md-12">
			<label for="descricao" class="form-label">Observa&ccedil;&atilde;o</label> 
			<input type="text" ng-model="chamado.descricao" id="descricao" class="form-control" name="descricao" placeholder="Digite a descricao" />
		</div>
		
		<div class="rows">
			<div class="col-md-12">
				<!-- <button ng-click="grava()" class="btn btn-primary" ng-disabled="frm_chamado$invalid">Grava</button> -->
				<button ng-click="grava()" class="btn btn-primary" ng-disabled="frm_chamado.$invalid">Grava</button>
				<button ng-click="cancela()" class="btn btn-default" ng-enabled="frm_chamado.$dirty">Cancela</button>
			</div>
		</div>
	<alerta-mensagem id="id_msg" itens="listaMensagens" tipo-erro="flagMensagemErro" tipo-sucesso="flagMensagemSucesso"  ng-show="!frm_chamado.$dirty"></alerta-mensagem>
	</form>
	
	<br/>
	<a class="btn btn-warning btn-xs"
							href="/teste"> Aqui<span
								class="glyphicon glyphicon-pencil"></span>
	

	
</div>

